src/main/mule/specification_warehouse.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="specification_warehouse-config" api="specification_warehouse.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="specification_warehouse-main">
        <http:listener config-ref="HTTP_Listener_config" path="${api.http.listener.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="specification_warehouse-config" />
    </flow>
    <flow name="get:\TLC\ChangedEntities:specification_warehouse-config">
            <logger level="INFO" doc:name="Flow Started" doc:id="992ee875-647b-4af8-ac79-dd3e5656bb4e" message="Started - Transaction_Id: #[vars.headers.transaction_id] Org_Client_Id: #[vars.headers.org_client_id]" category="Flow Tracking" />
        <choice doc:name="Choice" doc:id="23b5223c-828a-4f69-b90e-8b43ddfb0636">
            <when expression="#[sizeOf(attributes.queryParams) &gt; 1]">
                <flow-ref doc:name="TLC Changed Entities Dates" doc:id="0a97b64a-ebb2-422e-9a8b-212c778c2bdf" name="implementation_tlc_changedentitiesDatesFlow" />
            </when>
        </choice>
        <logger level="INFO" doc:name="Flow Completed" doc:id="7f0a6d68-f585-4580-8dba-f4f7b3bd0076" message="Completed - Transaction_Id: #[vars.headers.transaction_id] Org_Client_Id: #[vars.headers.org_client_id]" category="Flow Tracking" />
    </flow>
    <flow name="get:\TLC\UnsyncedEntities:specification_warehouse-config">
         <logger level="INFO" doc:name="Flow Started" doc:id="638e4dc2-215d-4ee2-8f66-c6f1431b09b8" message="Started - Transaction_Id: #[vars.headers.transaction_id] Org_Client_Id: #[vars.headers.org_client_id]" category="Flow Tracking" />
        <flow-ref doc:name="TLC Unsynced Entities" doc:id="e5f16330-b011-4d93-9c29-1c76d7d2e45a" name="implementation_tlc_unsyncedentitiesFlow" />
        <logger level="INFO" doc:name="Flow Completed" doc:id="3b9a6065-e215-4412-8688-108a4ec32d6c" message="Completed - Transaction_Id: #[vars.headers.transaction_id] Org_Client_Id: #[vars.headers.org_client_id]" category="Flow Tracking" />
    </flow>
</mule>
